:root {
	--水色: #D2F0F4;
	--品红: #2E4E7E;
	--绿沈: #0C8918;
	--藏青: #2E4E7E;
	--群青: #4C8DAE;
	--漆黑: #161823;
}

body {
	background-color: var(--水色);
}

.scrolling > .text {
	position: relative;
	left: 0;
	color: var(--品红);
	transition: right, color;

	animation-name: 横幅滚动;
	animation-duration: 60s;
	animation-iteration-count: infinite;
}

@keyframes 横幅滚动 {
	from {
		left: 0;
	}

	20% {
		color: var(--绿沈);
	}

	40% {
		color: var(--藏青);
	}

	60% {
		color: var(--品红);
	}

	80%  {
		color: var(--绿沈);
	}

	to {
		left: 100%;
	}
}

.title {
	color: var(--群青);
	opacity: 1;
	text-align: center;
	text-shadow: 2px 2px var(--漆黑);

	animation-name: 闪动;
	animation-duration: 1s;
	animation-iteration-count: infinite;
}

@keyframes 闪动 {
	from {
		opacity: 1;
	}

	to {
		opacity: 0;
	}
}

.main.layout {
	margin: 1rem auto;
	width: 80%;
}

.menu {
	display: flex;
	flex-direction: row;
	background-color: var(--绿沈);
	box-shadow: 10px 10px 0px 2px var(--漆黑);
}

.menu > .item {
	background-color: var(--绿沈);
	padding: 1rem .5rem;
}

.menu > .item:hover {
	transform: translateY(-10%);
	box-shadow: 4px 4px 0 2px var(--漆黑);
}
