:root {
	--靛青: #177cb0;
	--精白: #ffffff;
}

body {
	margin: 0;
}

.ui.container {
	display: grid;
}

.ui.header {
	background-color: var(--靛青);
	color: var(--精白);
	grid-row-start: 1;
	grid-row-end: 2;

	grid-column-start: 1;
	grid-column-end: 2;

	display: flex;
	align-items: center;
	justify-content: center;
}

.ui.header .level3 {
	font-size: 1.3em;
}

.ui.header .level2 {
	font-size: 1.2em;
}

.ui.header .level1 {
	font-size: 1.1em;
}

.ui.content {
	grid-row-start: 2;
	grid-row-end: 3;

	width: 80%;
	margin: 4rem auto;
}

.ui.footer {
	grid-row-start: 3;
	grid-row-end: 4;
	grid-column-start: 1;
	grid-column-end: 2;
	text-align: center;

	color: var(--精白);
	background-color: var(--靛青);
	padding-top: 2rem;
	padding-bottom: 2rem;
}

.ui.footer a {
	color: var(--精白);
}
